/* GENERAL */
.container {
  max-width: 1170px;
  margin: 100px auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* BLOCCO LEZIONI */
#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .container>.col-lg-12 {
  margin-top: 80px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}


/* RESPONSIVE XS MAX-WIDTH 767PX */
@media all and (max-width: 767px) {
  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  .container {
    margin: 0;
    padding: 2% 2%;
    font-size: 1.2em;
  }
  #lezioni .container,
  #why .container {
    background-color: #f2f2cd;
  }
  #lezioni .container > .col-xs-12,
  #steps .container > .col-xs-12,
  #steps .container > .col-xs-12,
  #steps .container > .col-xs-12,
  #why .container > .col-xs-12,
  #why .container > .col-xs-12,
  #why .container > .col-xs-12 {
    margin-bottom: 20px;
    padding: 0;
  }
  #why .container > .col-xs-12 {
    margin-top: 0%;
    margin-bottom: 20px;
  }
  h1 {
    margin-bottom: 3%;
  }
  img {
    height: 150px;
  }
}
/* / RESPONSIVE XS MAX-WIDTH 767PX */